*{
    margin: 0;
    padding: 0;
}

body{
    width: 1200px;
}

.header{
    display: flex; 
    width: 595px;
    height: 200px;
    background-image: url('icon/background.png');}

img{
    left: 32px; 
    top:36;
    border-radius: 50px;
    width:104px;
    height: 104px;}

.name{
    font-size: 20px; 
    font-weight: bold;}

.job{
    color:#e9925f;
    font-size: 18px; 
    font-weight: bold;}